<a href="https://colab.research.google.com/github/katrinag2004/ds2002assignments/blob/main/python/superhero_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Step 1: Setting Up Your SQLite Database

### Tasks:
1. Initialize SQLite in Google Colab.
2. Create a database named `superhero_db.sqlite`.
3. Define the database schema, ensuring it includes the following tables:
   - `heroes`: Stores superhero names, powers, and teams.
   - `villains`: Stores villains and their evil plans.
   - `battles`: Tracks battles between heroes and villains, including the outcome.
4. Implement primary keys and foreign keys where appropriate.

✅ **Checkpoint:** Ensure that the database and tables have been successfully created.

I worked with Tamer El Aridi on this assignment.

In [12]:
import sqlite3
connection = sqlite3.connect('superhero_db.sqlite')
print("Database created and connected!")
cursor = connection.cursor()
print("Cursor created!")
cursor.execute('''
CREATE TABLE IF NOT EXISTS heroes (
    hero_id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    power TEXT,
    team TEXT
)
''')

cursor.execute('''
CREATE TABLE IF NOT EXISTS villains (
    villain_id INTEGER PRIMARY KEY AUTOINCREMENT,
    names TEXT NOT NULL,
    evil_plan TEXT
)
''')

cursor.execute('''
CREATE TABLE IF NOT EXISTS battles (
    battle_id INTEGER PRIMARY KEY AUTOINCREMENT,
    hero_id INTEGER,
    villain_id INTEGER,
    outcome TEXT,
    FOREIGN KEY (hero_id) REFERENCES heroes(hero_id),
    FOREIGN KEY (villain_id) REFERENCES villains(villain_id)
)
''')
connection.commit()
print("Battles table recreated successfully!")

# Close the cursor
cursor.close()

# Explanation
print("Cursor closed!")

Database created and connected!
Cursor created!
Battles table recreated successfully!
Cursor closed!

## Step 2: Import Data from CSV Files

### Tasks:
1. Download the provided CSV files.
2. Upload them to Google Colab.
3. Write a script to import data from these files into the appropriate tables.
4. Verify that the data has been successfully inserted.

✅ **Checkpoint:** Ensure that each table contains the expected data from the CSV files.

In [14]:
import pandas as pd

# Load data from CSV into a DataFrame
df_heroes = pd.read_csv('heroes.csv')

# Display the first few rows of the DataFrame
print(df_heroes.head())
df_heroes.to_sql('heroes', connection, if_exists='replace', index=False)

print("Data from CSV has been inserted into the heroes table.")


# Load data from CSV into a DataFrame
df_villains = pd.read_csv('villains.csv')

# Display the first few rows of the DataFrame
print(df_villains.head())
df_villains.to_sql('villains', connection, if_exists='replace', index=False)

print("Data from CSV has been inserted into the villains table.")

# Load data from CSV into a DataFrame
df_battles = pd.read_csv('battles.csv')

# Display the first few rows of the DataFrame
print(df_battles.head())
df_battles.to_sql('battles', connection, if_exists='replace', index=False)

print("Data from CSV has been inserted into the battles table.")

FileNotFoundError: [Errno 2] No such file or directory: 'heroes.csv'

## Step 3: Querying the Database

### Tasks:
Write SQL queries to answer the following:
1. Retrieve all superheroes and their powers.
2. Find all battles where the hero won.
3. List all villains and their evil plans.
4. Determine which superhero has fought the most battles.

✅ **Checkpoint:** Ensure that all queries return meaningful results from the database.

In [ ]:
cursor = connection.cursor()
cursor.execute("""
    SELECT name, power
    FROM heroes;
""")
rows = cursor.fetchall()
print("Superheroes and their powers:")
for row in rows:
    print(row)

cursor.execute("""
    SELECT b.id, h.name AS hero_name, v.name AS villain_name, b.outcome
    FROM battles b
    JOIN heroes h ON b.hero_id = h.id
    JOIN villains v ON b.villain_id = v.id
    WHERE b.outcome = 'Hero Wins';
""")
rows = cursor.fetchall()
print("Battles where the hero won:")
for row in rows:
    print(row)
cursor.execute("""
    SELECT h.name AS hero_name, COUNT(b.id) AS battle_count
    FROM battles b
    JOIN heroes h ON b.hero_id = h.id
    GROUP BY h.name
    ORDER BY battle_count DESC
    LIMIT 1;
""")
rows = cursor.fetchall()
print("Superhero with the most battles:")
for row in rows:
    print(row)
connection.commit()

Superheroes and their powers:
('Spider-Man', 'Web-slinging')
('Iron Man', 'Powered Armor')
('Batman', 'Genius Detective')
('Superman', 'Super Strength')
('Thor', 'God of Thunder')
('Wonder Woman', 'Amazonian Strength')
('Black Panther', 'Enhanced Agility')
('The Flash', 'Super Speed')
('Hulk', 'Super Strength')
('Doctor Strange', 'Mystic Arts')
Battles where the hero won:
(2, 'Hulk', 'Joker', 'Hero Wins')
(5, 'Spider-Man', 'Darkseid', 'Hero Wins')
(7, 'Hulk', 'Venom', 'Hero Wins')
(8, 'Batman', 'Thanos', 'Hero Wins')
(9, 'Black Panther', 'Loki', 'Hero Wins')
(13, 'The Flash', 'Magneto', 'Hero Wins')
(20, 'Batman', 'Lex Luthor', 'Hero Wins')
(29, 'Batman', 'Loki', 'Hero Wins')
(30, 'Thor', 'Loki', 'Hero Wins')
Superhero with the most battles:
('Batman', 7)

## Step 4: Add a Custom Feature

### Tasks:
1. Design and implement an additional table related to superheroes or villains.
2. Populate it with data.
3. Write at least one query to retrieve meaningful insights from the new table.

**Examples of Custom Features:**
- Sidekicks for superheroes
- Villain hideouts
- Battle locations
- Superhero equipment

✅ **Checkpoint:** Ensure that the new table and queries function correctly.

In [15]:
import sqlite3

# Connect to the database (or create it if it doesn't exist)
conn = sqlite3.connect('superhero_db.sqlite')
cursor = conn.cursor()

# Task 1: Create a new table for villain hideouts
create_table_query = '''
CREATE TABLE IF NOT EXISTS VillainHideouts (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    villain_name TEXT NOT NULL,
    hideout_location TEXT NOT NULL,
    hideout_type TEXT,
    description TEXT
);
'''
cursor.execute(create_table_query)
conn.commit()

# Task 2: Populate the VillainHideouts table with data
insert_data_query = '''
INSERT INTO VillainHideouts (villain_name, hideout_location, hideout_type, description)
VALUES
    ('Joker', 'Abandoned Amusement Park', 'Urban Ruin', 'A dilapidated park with hidden passages.'),
    ('Lex Luthor', 'Luminous Tower', 'Corporate High-tech', 'A skyscraper outfitted as a secret laboratory.'),
    ('Green Goblin', 'Industrial Warehouse', 'Underground', 'An abandoned warehouse that conceals secret tunnels.'),
    ('Doctor Octopus', 'Dockside Laboratory', 'Seaside Facility', 'A lab near the docks with advanced tech.'),
    ('Magneto', 'Eastern Fortress', 'Remote Base', 'A fortified base located in a remote area.');
'''
cursor.execute(insert_data_query)
conn.commit()

# Task 3: Retrieve meaningful insights – Count hideouts by hideout type
query = '''
SELECT hideout_type, COUNT(*) AS number_of_hideouts
FROM VillainHideouts
GROUP BY hideout_type;
'''
cursor.execute(query)
results = cursor.fetchall()

print("Hideout Types and their Counts:")
for row in results:
    print(f"Hideout Type: {row[0]}, Count: {row[1]}")

conn.close()

Hideout Types and their Counts:
Hideout Type: Corporate High-tech, Count: 1
Hideout Type: Remote Base, Count: 1
Hideout Type: Seaside Facility, Count: 1
Hideout Type: Underground, Count: 1
Hideout Type: Urban Ruin, Count: 1

## Bonus Challenge (+5 Points)

### Tasks:
1. Enhance your project by adding a visual or interactive component.

**Options:**
- Visualize battles using Matplotlib (e.g., a bar chart showing how many battles each superhero has fought).
- Make it interactive (e.g., allow users to input a superhero name and display their battles).

✅ **Checkpoint:** If attempting the bonus, ensure that your visualization or interactive component works correctly.

In [ ]:
# @title
import sqlite3
import ipywidgets as widgets
from IPython.display import display

# Connect to the existing database (which already has battles, heroes, and villains tables)
conn = sqlite3.connect('superhero_db.sqlite')
cursor = conn.cursor()

# Function to retrieve battles for a given superhero name by joining the battles, heroes, and villains tables
def get_superhero_battles(hero_name):
    query = '''
    SELECT b.id, h.name AS hero_name, v.name AS villain_name, b.outcome
    FROM battles b
    JOIN heroes h ON b.hero_id = h.id
    JOIN villains v ON b.villain_id = v.id
    WHERE h.name = ?
    '''
    cursor.execute(query, (hero_name,))
    return cursor.fetchall()

# Callback function for the interactive widget
def on_button_clicked(b):
    hero = text_input.value.strip()
    if not hero:
        output.value = "<p>Please enter a superhero name.</p>"
        return

    battles = get_superhero_battles(hero)
    if battles:
        output_html = f"<h4>Battles for {hero}:</h4><ul>"
        for battle in battles:
            output_html += f"<li>Battle ID: {battle[0]}, Opponent: {battle[2]}, Outcome: {battle[3]}</li>"
        output_html += "</ul>"
    else:
        output_html = f"<p>No battles found for <em>{hero}</em>.</p>"

    output.value = output_html

# Create interactive widgets: a text input field and a button
text_input = widgets.Text(
    value='',
    placeholder='Enter a superhero name...',
    description='Superhero:',
    disabled=False
)

button = widgets.Button(
    description='Show Battles',
    tooltip='Click to display battles for the superhero'
)
button.on_click(on_button_clicked)

# HTML widget for displaying output results
output = widgets.HTML()

# Display the interactive component vertically
display(widgets.VBox([text_input, button, output]))

## Submission Guidelines

Each group must submit a **Google Colab Notebook (.ipynb)** containing:
- ✅ **Database schema (DDL)**
- ✅ **CSV imports & data insertion (DML)**
- ✅ **SQL queries & results**
- ✅ **Custom feature (bonus if applicable)**

## Grading Criteria (Total: 25 Points)

| Section                 | Points |
|-------------------------|--------|
| Database Setup          | 5      |
| Data Importing         | 10     |
| Querying the Data      | 10     |
| Extra Feature          | 5      |
| Bonus Challenge (Optional) | +5  |

### Final Notes:
- Be **creative** when designing superheroes and villains.
- **Comment your code** to explain its functionality.
- **Have fun** building your superhero universe!